{% load static %}

<!-- Offcanvas Area Start -->
<div class="fix-area">
    <div class="offcanvas__info">
        <div class="offcanvas__wrapper">
            <div class="offcanvas__content">
                <div class="offcanvas__top mb-4 d-flex justify-content-between align-items-center">
                    <div class="offcanvas__logo">
                        <a href="{% url 'home' %}">
                            <img class="logoo" src="{% static 'assets/img/artmodel.png' %}" alt="logo-img">
                        </a>
                    </div>
                    <div class="offcanvas__close">
                        <button>
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>

                <div class="mobile-menu fix mb-3"></div>
                
                <p class="text d-none d-xl-block mb-5">
                    Мы создаём высококачественные архитектурные макеты, которые помогают застройщикам успешно продавать свои проекты.
                </p>

                <div class="offcanvas__contact">
                    <h4>Контактная информация</h4>
                    <ul>
                        <li class="d-flex align-items-center">
                            <div class="offcanvas__contact-icon">
                                <i class="fal fa-map-marker-alt"></i>
                            </div>
                            <div class="offcanvas__contact-text">
                                <a target="_blank" href="#">Ташкент, Узбекистан</a>
                            </div>
                        </li>
                        <li class="d-flex align-items-center">
                            <div class="offcanvas__contact-icon mr-15">
                                <i class="fal fa-envelope"></i>
                            </div>
                            <div class="offcanvas__contact-text">
                                <a href="mailto:artmodel.admin@gmail.com">artmodel.admin@gmail.com</a>
                            </div>
                        </li>
                        <li class="d-flex align-items-center">
                            <div class="offcanvas__contact-icon mr-15">
                                <i class="fal fa-clock"></i>
                            </div>
                            <div class="offcanvas__contact-text">
                                <a target="_blank" href="#">Пн–Cб: 08:00 — 22:00</a>
                            </div>
                        </li>
                        <li class="d-flex align-items-center">
                            <div class="offcanvas__contact-icon mr-15">
                                <i class="far fa-phone"></i>
                            </div>
                            <div class="offcanvas__contact-text">
                                <a href="tel:+998333334010">+998 33 333 40 10</a>
                            </div>
                        </li>
                    </ul>
                    <div class="header-button mt-4">
                        <a href="{% url 'contact' %}" class="theme-btn text-center">
                            Связаться с нами
                        </a>
                    </div>
                    <div class="social-icon d-flex align-items-center">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/art_modelmaket?igsh=MWRwcWZxemUzams4eQ=="><i class="fab fa-instagram"></i></a>
                    <a href="https://t.me/artmodel_admin"><i class="fab fa-telegram-plane"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="offcanvas__overlay"></div>

<!-- Header Top Start -->
<div class="header-top-section section-bg fix">
    <div class="container">
        <div class="header-top-wrapper">
            <ul class="contact-list">
                <li>
                    <i class="fas fa-map-marker-alt"></i>
                    Ташкент, Узбекистан
                </li>
            </ul>
            <div class="top-right">
                <ul class="contact-list">
                    <li>
                        <a href="mailto:artmodel.admin@gmail.com" class="link">artmodel.admin@gmail.com</a>
                    </li>
                </ul>
                <div class="social-icon d-flex align-items-center">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/art_modelmaket?igsh=MWRwcWZxemUzams4eQ=="><i class="fab fa-instagram"></i></a>
                    <a href="https://t.me/artmodel_admin"><i class="fab fa-telegram-plane"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Header Area Start -->
<header>
    <div id="header-sticky" class="header-1">
        <div class="container">
            <div class="mega-menu-wrapper">
                <div class="header-main">
                    <div class="header-left">
                        <div class="logo">
                            <a href="{% url 'home' %}" class="header-logo-2">
                                <img class="logoo" src="{% static 'assets/img/artmodel.png' %}" alt="logo">
                                <style>
                                    .logoo {
                                        width: clamp(100px, 5vw, 130px);
                                        height: auto;
                                        object-fit: contain;
                                    }
                                </style>
                            </a>
                        </div>
                        <div class="mean__menu-wrapper">
                            <div class="main-menu">
                                <nav id="mobile-menu">
                                    <ul>
                                        <li><a href="{% url 'project' %}">Проекты</a></li>
                                        <li><a href="{% url 'project_types' %}">Типы макетов</a></li>
                                        <li><a href="{% url 'about' %}">О нас</a></li>
                                        <li><a href="{% url 'companies' %}">Клиенты</a></li>
                                        <li><a href="{% url 'service' %}">Услуги</a></li>
                                        <li><a href="{% url 'blog' %}">Блог</a></li>
                                        <li><a href="{% url 'contact' %}">Контакты</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>

                    <div class="header-right d-flex justify-content-end align-items-center">
                        <div class="icon-items">
                            <div class="icon">
                                <i class="fas fa-phone-alt"></i>
                            </div>
                            <div class="content">
                                <p>Заказать звонок:</p>
                                <h4><a href="tel:+998333334010">+998 33 333 40 10</a></h4>
                            </div>
                        </div>
                        
                        {% comment %} <a href="#0" class="search-trigger search-icon"><i class="fal fa-search"></i></a> {% endcomment %}
                        
                        <div class="header__hamburger d-xl-block my-auto">
                            <div class="sidebar__toggle">
                                <img src="{% static 'assets/img/bar2.svg' %}" alt="menu">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Search Area Start -->
<!-- Search Area Start -->


